.header_logo img{
	max-height: 70px;
}
.home_series_item{
	a{
		text-decoration: none;
		color: #000;
	}
	font-family: @heading-font;

	img.placeholder{
		background: #eee;
	}
}

iframe{
	max-width: 100%;
}

@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;

//istanbul
@brand-primary:         #A20E34;
@brand-success:         #224024;
@brand-info:           	#A8BFAE;
@brand-warning:         #9BA649;
@brand-danger:          #F2F2DF;

@import "lib/button-2rounded.less";