.herobanner{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.jumbotron{
		background: rgba(0, 0, 0, 0.5);
		border:none;
	}
}

.jumbotron{
	&.invert{
		color: #fff;
	}
}